################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TrafficLight/.vs/TrafficLight
/TrafficLight/TrafficLight/bin/Debug/net8.0
/TrafficLight/TrafficLight/obj
